In [8]:
import pandas as pd

In [9]:
pip install pivottablejs

Requirement already satisfied: pivottablejs in c:\users\cafra\anaconda3\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from pivottablejs import pivot_ui

In [11]:
df = pd.read_excel('Base de Datos.xlsx',sheet_name = 'Base')

In [12]:
df.head()

,FACTURA,FECHA,COMERCIAL,MARCA,DECRIPCION,Cantidad,PVP,Venta,Coste/ ud,Beneficio
0,1001,2020-01-01,Maria Garcia,Samsung,Auriculares,9,110.000000,990.000000,55.000000,495.000000
1,1002,2020-01-02,Luis Valle,Samsung,Movil,1,300.000000,300.000000,150.000000,150.000000
2,1003,2020-01-03,Pablo Lopez,One Plus,Funda movil,8,10.000000,80.000000,5.000000,40.000000
3,1004,2020-01-03,Pablo Lopez,One Plus,Movil,1,568.666667,568.666667,284.333333,284.333333
4,1005,2020-01-04,Pablo Lopez,Samsung,Cargador,7,35.000000,245.000000,17.500000,122.500000

In [13]:
pivot_ui(df)